# Encryption Keys
NEXT_PUBLIC_TRANSPORT_ENCRYPTION_KEY=your_transit_key_here
DATABASE_ENCRYPTION_KEY=your_db_storage_key_here

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=
